.btn-gradient-1 {
  border-width: 40px;
  border-style: solid;
  border-radius: 50em;
  border-image: linear-gradient(to right, red, yellow) 1;
}

.btn-gradient-1:hover {
  border-image: linear-gradient(to right, pink, red) 1;
}

.btn-gradient-2 {
  background: linear-gradient(var(--color-bg), var(--color-bg)) padding-box, linear-gradient(to right, pink, green) border-box;
  border-radius: 50em;
  border: 40px solid transparent;
  transition: background 2s;
}

.btn-gradient-2:hover {
  background: linear-gradient(var(--color-bg), var(--color-bg)) padding-box, linear-gradient(to right, green, blue) border-box;
  border-radius: 50em;
  border: 40px solid transparent;
}

.btn-gradient-1,
.btn-gradient-2 {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: var(--btn-font-size, 1em);
  color: var(--color-contrast-medium);
  padding: var(--space-xs) var(--space-md);
  cursor: pointer;
  transition: color 0.2s;
}
.btn-gradient-1:hover,
.btn-gradient-2:hover {
  color: var(--color-contrast-high);
}